section.bottom-nav.container
    .row
        .col-10.col-sm
            nav.nav
                a.nav-link(href="#") trending
                    span.badge.badge-default
                        i.fa.fa-bolt
                a.nav-link(href="#") extension
                a.nav-link(href="#") for publishers
        .col-2.col-sm
            .bottom-nav__c2a
                a.btn.btn-success become a publisher
