section.bottom-nav.container
    nav.nav
        a.nav-link(href="#") trending
            span.badge.badge-default
                i.fa.fa-bolt
        a.nav-link(href="#") extension
        a.nav-link(href="#") for publishers
    .bottom-nav__c2a
        a.btn.btn-success become a publisher
