.hero__container
    .hero__content.container
        .row
            .col
                h1 Read about what you love.
                p More quality content about more interesting things.
                a.btn.btn-success Read now
            .col
                //- TODO: carousel for show books