//- mobileapp__wrapper
.mobileapp__wrapper
    //- mobileapp__content
    .mobileapp__content.container
        .h2.text-center Rich Expirience at any screen
        p.text-center amazing look and feel across all platforms and issuu apps.
        //- content buttons
        .mobileapp__content__buttons.text-center.row.justify-content-center
            //- google play icon
            a(href="#").googleplay.row.col-3
                .col-sm-2
                    img(src="img/play-store.png", alt="")
                .col-sm-8
                    p Get It On The
                    .text-uppercase google play
            //- end google play icon

            //- apple icon
            a(href="#").app_store.row.col-3
                .col-sm-2
                    img(src="img/apple-icon.png", alt="")
                .col-sm-8
                    p Availbale on the
                    .text-uppercase apple store
            //- end apple icon
        //- end content buttons
    //- end mobileapp__content
//- end mobileapp__wrapper