section.trending__wrapper.container
    //- trending row
    .trending-row.row
        //- trending left column
        .col-4
            //- trending__heading
            .trending__heading
                h3 Trending
                a.see.text-uppercase(href="#") See all publications
            //- emd trending__heading

            //- trending__item
            .trending__item
                img.img-responsive(src="img/trending-book-2.png", alt="")
                h4.text-uppercase photographize magazine
                p In this issue: Andreas Franke, Amr Elshamy, Martin Stranka, James Popsys etc.
            //- end trending__item
        //-  end trending left column

        //- trending right column
        .col-8
            //- first trending item
            .trending__item.row.align-items-end
                .col
                    h4.text-right.text-uppercase Nordic design collective
                    p.text-right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum tempore
                .col
                    img.img-responsive(src="img/trending-book-1.png", alt="")
            //- end of first trending__item

            //- second trending__item
            .trending__item.row.align-items-end
                .col
                    img(src="img/trending-book-3.png", alt="")
                .col
                    h4.text-right.text-uppercase decorated youth
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            //- end second trending__item