extends layouts/app.pug

block title
    | Главная

block content
    //- write structure here
    include partials/hero.pug
    include partials/trending.pug
    include partials/publications.pug
    include partials/mobileApp.pug