footer.footer
    nav.footer__nav.nav.justify-content-center
        a.nav-link(href="#") About issuu
        a.nav-link(href="#") Plans and pricing
        a.nav-link(href="#") developers
        a.nav-link(href="#") adwertise with us
        a.nav-link(href="#") careers
        a.nav-link(href="#") community
        a.nav-link(href="#") directory
        a.nav-link(href="#") legal
        a.nav-link(href="#") help & support
    nav.nav.footer__social-nav.justify-content-center
        a.nav-link(href="#")
            i.fa.fa-facebook
        a.nav-link(href="#")
            i.fa.fa-twitter
        a.nav-link(href="#")
            i.fa.fa-linkedin
        a.nav-link(href="#")
            i.fa.fa-instagram